* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: lightgray;
}

/* header */

header {
    padding: 10px 20px;
    background-color: white;
}

#Logo, h1 {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-size: 40px;
}

/* fine header */

/* nav */

nav{

    width: 1000px;
    height: 70px;

    margin: 50px auto 5px auto;
    padding: 20px 0px 0px 100px;

    background-color: white;
    border-radius: 10px
}

#task {

    padding: 10px 20px;
    margin-right: 10px;
    background-color: #45abea;
    border: #45abea;
    border-radius: 10px;
    color: white;
}

#section {

    padding: 10px 20px;
    color: grey;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
}

/* fine nav */

/* main */

.container {

    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px 20px 100px  ;
    
    width: 1000px;
    height: 1000px;

    background-color: white;
    border-radius: 10px;
}

/* fine main */

/* inizio sezioni */

section {
    margin-bottom: 50px;
}

h2 {
    font-size: 30px;
}

.row {
    margin: 20px 0px;
}

span {
    font-size: 20px;
}

.checkmark {

    margin-right: 10px;
    padding: 1px 4px;

    color: green;
    border: green solid;
    border-radius: 100%;
}

.uncheckmark {

    margin-right: 10px;
    padding: 1px 4px;

    color: #e00000;
    border: #e00000 solid;
    border-radius: 100%;
}

/* Tag colorati */

#Editorial {

    padding: 5px 10px;
    border-radius: 50px;

    background-color: #45abea;
    color: white;
}

#Goals {

    padding: 5px 10px;
    border-radius: 50px;

    background-color: #9C72E4;
    color: white;
}

#Recruiting {

    padding: 5px 10px;
    border-radius: 50px;

    background-color: #64c0a9;
    color: white;
}

#Mobile {

    padding: 5px 10px;
    border-radius: 50px;

    background-color: #f29e33;
    color: white;
}

#Website {

    padding: 5px 10px;
    border-radius: 50px;

    background-color: #d863a1;
    color: white;
}

#Sales {

    padding: 5px 10px;
    border-radius: 50px;

    background-color: #b0c926;
    color: white;
}

/* Fine Tag colorati */

/* Fine sezioni */

